<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Paperfold Writers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
        </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i> Home <span class="badge badge-warning pull-right" style="margin-right:10px;"></span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="btn btn-info">Services<span class="badge badge-warning pull-right" style="margin-right:10px;"></span> </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-shopping-cart"></i> Orders <span class="badge badge-warning pull-right" style="margin-right:10px;"></span>
                </a>
            </li>
        </ul>
        {% block cred %} {% endblock %}

        <a class="nav-link" href="#">
            <i class="fa fa-address-book"></i> Profile <span class="badge badge-warning pull-right" style="margin-right:10px;"></span>
        </a>

        <a class="nav-link" href="#">
            <i class="fa fa-cogs"></i> Settings <span class="badge badge-warning pull-right" style="margin-right:10px;"></span>
        </a>
        <ul>
            <li>
                <a href="/messages">
                    <i class="fa fa-envelope"></i> <span>Messages <span class="badge badge-success pull-right" style="margin-right: 10px;">0</span></span>
                </a>
            </li>
        </ul>

    </div>
</nav>